body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #f7ffdb;
  
}

label {
  font-size: 16px;
}
button {
  background-color: #4a62d9;
  color: white;
  padding: 15px;
  width: 270px;
  font-size: 16px;
  border-radius:30px;
  cursor: pointer;
  margin-top: 10px;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 300px;
}

#result {
  margin-top: 20px;
}
